<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    
    <script defer src="/socket.io/socket.io.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Success</title>
    <style>
        .map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
    </style>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row align-items-stretch justify-content-center no-gutters">
        <div class="col-md-7 col-sm-12">
            <div class="card">
                <div class="card-body">
            <div class="row d-flex justify-content-center">
                <img src="https://www.blue-bricks.com/wp-content/uploads/2021/04/animation_500_knpvibeg.gif" style="width: 14rem;">
            </div>
            <p class="text-center" style="font-size: 20px;"><b>Done!</b></p>
            <p class="text-center">You are successfully logged in with FIDO2</p>

            <div class="row justify-content-center mt-3">
              <div class="col-6 form-group text-center">
                  <a  href="/" class="btn btn-lg btn-primary rounded-0 py-2 px-4"  style="color: #fff;">Home</a>
              </div>
            </div>

            <div class="row justify-content-center mt-3">
              <div class="col-6 form-group text-center">
                  <a  href="/" class="btn btn-lg btn-primary rounded-0 py-2 px-4"  style="color: #fff;">Add More Device</a>
              </div>
            </div>


          
        </div>
        </div>
      </div>
    </div>

  </div>
    
    
 
    <script src="/js/jquery-3.3.1.min.js"></script>
   
    <script src="/js/bootstrap.min.js"></script>
   
    <script src="/js/main.js"></script>

  </body>
</html>